<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="user" class="com.epam.training.spring.domains.User">
        <constructor-arg value="dzianis_sudas@epam.com"/>
        <constructor-arg value="Dzianis Sudas"/>
    </bean>
    
</beans>